# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
*.tsbuildinfo

# Development
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Docs
docs
*.md
!README.md

# Tests
coverage
.nyc_output

# Misc
*.log
npm-debug.log*